[package]
name = "pistol"
version = "1.0.2"
edition = "2021"
license = "MIT OR Apache-2.0"
description = "A Rust Library about Cybersecurity "
homepage = "https://github.com/rikonaka/pistol-rs"
documentation = "https://docs.rs/pistol"
repository = "https://github.com/rikonaka/pistol-rs"
readme = "README.md"
keywords = ["penetration-test", "cybersecurity", "nmap"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
anyhow = "^1"
num_cpus = "^1"
rand = "^0"
subnetwork = "^0"
threadpool = "^1"
chrono = "^0"
gcdx = "^0"
crc32fast = "^1"
hex = "^0"
serde = { version = "^1", features = ["derive"] }
serde_json = "^1"
dns-lookup = "^2"
fancy-regex = "^0"
pnet = "^0"
