name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        arch: [x86_64, aarch64]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build project
        run: cargo build --release

      # only build and not test due to env limits
      # - name: Run tests
      #   run: cargo test